
* {
  font-family: 'Segeo UI', 'Roboto', sans-serif;
}
.intro-header {
  margin: auto;
}

h1 {
  padding: 10px;
  font-size: 3rem;
}

/* navbar */


.navbar {
    position: relative;
    margin-bottom: 0px;
}


.form-control {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: inset;
  border-bottom-color: grey;
  border-bottom-width: 1px;
  display:inline;
  width: 90%
  }

.form-group{
  margin-bottom:8px;
  }

.btn-primary:hover {
  background: #3cb0fd;
  text-decoration: none;
}

input[type="submit" i] {
  margin-top: 20px;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  border-width: 0px;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
}

.list-group-item {
  padding: 20px 20px 0px 20px}

.section-heading {
  padding-top: 10px;
  padding-bottom: 10px;}

.list-group-item h3 {
  font-weight: normal;}

.main-content {
  background-image: url('https://images.unsplash.com/photo-1582135739786-3bceafcaea85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top : 20px;
  padding-bottom : 20px}

.login-container {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  place-items: center

  }

.login-container form {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 5px;
  min-height: 300px}

.login-container form .form-group .form-control{
  margin-bottom: 30px;
}

.login-container form .control-label{
    display: inline-block;
    float: left;
    clear: left;
    width: 50px;
    padding-right: 10px;
    text-align: right;
}

.login-container form .form-control {
  display: inline-block;
  float: left;
  width: 80%
}

.page-heading {
  align-items: center;}

.scheduler-section {
  padding: 20px;
  padding-top: 10px;
  border-radius: 0px;
  margin-bottom: 10px;}


.list-section {
  padding: 20px;
  padding-top: 10px;
  border-radius: 0px;}

.ckeditor-form {
  padding: 20px;
  padding-top: 10px;
  border-radius: 0px;
  margin-bottom: 10px;}

.project-topic {
  padding-left: 0px;}

.error-message {
  color: red}

@media only screen and (max-width: 1000px) {
 .login-container {
   width: 70%;
   }
}

.project-topic-style {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: green;
  font-weight: bold}

.soppiestfrog {
  background: white;
  border-radius: 25px;
  padding: 20px;
  place-items: center}

.project-topic{
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
 }

.project-topic-date {
  float: right;
}

.joshpydevops {
  text-align: center;
  padding: 20px;
  font-size: 1rem
}

.footer-profile-link{
  text-decoration: none;
  font-size: 1.3rem;
  color: crimson;
  font-weight: bold;
}

.footer-profile-link {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.footer-profile-link:hover {
  text-decoration: none;
  background-size: 0 3px, 100% 3px;
}

/*josh new nav */
body {
  overflow-x: hidden;
  margin: 0;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  background: #232323;
  font-family:sans-serif;
  color: #cdcdcd;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
}

.navbar-brand-link{
font-family: 'Oswald', sans-serif;}

.navbar-item-link{
  font-size: 1.4rem;
  font-weight: lighter;
}

.navbar-item-link:hover {
  color: #00C6A7;
  font-weight: bolder;
  transition: font-weight 0.3s ease;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 975px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
  }

  .menu-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 20px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }

  .scheduler-section form .control-label{
    display: block;
    }
}

@media only screen and (max-width: 767px) {
  .scheduler-section form .control-label{
    display: inline-block;
    }
}
/* desktop styles */
@media only screen and (min-width: 976px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}


