<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted joshpydevops" style="margin-bottom: 0px;">Copyright &copy; Time-app 2022<br><a href=""
                                                                                                  class="footer-profile-link">Joshpydevops</a>
                    & <a href="https://uroupa.github.io/me" class="footer-profile-link">Uroupa</a></p>
            </div>
        </div>
    </div>
</footer>

