{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="main-content">
  <!-- Page Header -->
  <div class="login-container ">


    <div class="page-heading">
      <h1>Log In</h1>
      <span class="subheading">Welcome Back!</span>
    </div>


    <div class="container">
      <div class="row">

        <div class="col-lg-10 col-md-10 mx-auto content">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p class="error-message">{{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
      </div>
    </div>

  </div>


</div>


{% include "footer.html" %}
{% endblock %}
